# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Build directory
.DS_Store

.vscode/
.next/
out/
.env.local
.env*.local
.next-dev.log
.next-dev.err.log
.next-start.log
.next-start.err.log
.vercel-*.log
*.tsbuildinfo
.data/
visitor-cookies.txt

.vercel

.vercel
